:root {
    --container: 1440px;
    --text-color: #111827;
    --white-color: #fff;
}

body {
    font-family: "Inter", sans-serif;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
    /* overflow: hidden; */
}

.container {
    width: 100%;
    max-width: var(--container);
}

header, section {
    /* border: 7px solid rgb(24, 124, 255); */
}

.hero_content {
    margin-bottom: 96px;
    /* border: 7px solid rgb(24, 124, 255); */

    /* background-image: url(./img/pictures/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top; */
}

.purple_circle {
    width: 350px;
    height: 350px;
    background: #7C3AED;
    opacity: 0.3;
    border-radius: 50%;
    filter: blur(5px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero_landify {
    padding-left: 40px;
}

.hero_landify::before {
    content: "";
    background-image: url(./img/svg/logo.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 32px;
    height: 32px;

}

.hero_nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px 152px 0;
    margin-bottom: 70px;
}

.hero_nav_list {
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.hero_nav_item:nth-child(1) {
    padding-right: 24px;
}


.hero_nav_item {}

.hero_nav_item>a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.hero_nav_item>a:hover {
    color: rgb(162, 53, 177);
}

.hero_nav_vector {
    max-width: 290px;
}

.btn_vector {
    width: 135px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.btn_vector:hover {
    opacity: 0.8;
}

.btn_vector:active {
    opacity: 1;
}

.btn_google {
    background-image: url(./img/pictures/Google-Play-logo.png);
    margin-right: 12px;
}

.btn_apple {
    background-image: url(./img/pictures/Apple-logo.png);
}

.hero_container {
    display: flex;
    position: relative;
}

.hero_wrapper {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_title {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 16px 0;
    /* line-height: 72px; */
}

.hero_subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.hero_wrapper_btn {
    display: flex;
    /* flex-direction: row; */
    gap: 16px;
}

.hero_btn {
    width: 140px;
    height: 55px;
    background-color: #7C3AED;
    border-radius: 8px;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.hero_btn:hover {
    background-color: #7c3aedec;
}

.hero_btn:active {
    background-color: #7C3AED;
}

.hero_link {
    width: 180px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #7C3AED;
    text-decoration: none;
}

.hero_link:hover {
    opacity: 0.8;
}

.hero_link:active {
    opacity: 1;
}

.hero_link>img {
    padding-right: 8px;
}

.hero_phone-mockup {
    width: 50%;
    display: flex;
    justify-content: center;
}

.band > img {
    position: absolute;
}

.bg_band_1 > img {
    left: 0;
    bottom: 60px;
}

.bg_band_2 > img {
    left: 0;
    bottom: -23px;
}

.bg_band_3 > img {
    right: 0;
    bottom: 251px;
    z-index: -1;
}

.bg_band_4 > img {
    right: 0;
    bottom: 165px;
    z-index: -1;
}

.bg_band_5 > img {
    right: 0;
    bottom: 155px;
    z-index: -1;
}


/* |||  logo_clouds  ||| */

.logo_clouds {
    margin-bottom: 16px;
}

.logo_clouds_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
    list-style-type: none;
    margin: 0;
    padding: 40px 160px;
}

/* |||  Features  ||| */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features_title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -2.5%;
    color: var(--text-color);
    margin: 96px 0 8px 0;
    max-width: 800px;
}

.features_subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--text-color);
    margin: 0 0 64px 0;
    max-width: 800px;
}

.features_wrapper {}

.features_wrapper-row {
    display: flex;
    gap: 31px;
    margin-bottom: 64px;
}

.feature_item {
    max-width: 384px;
    /* height: 152px;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.feature_item>img {
    width: 32px;
    height: 32px;
    margin-bottom: 24px;
}

.feature_item-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 8px 0;
    padding: 0;
    color: var(--text-color);
}

.feature_item-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #374151;
}

/* |||   testimonial   ||| */

.testimonial {
    background: #D5FAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}

.testimonial_container {
    width: 100%;
    max-width: var(--container);
    /* border: 7px solid rgb(86, 155, 138); */
    display: flex;
    /* height: 676px; */
    gap: 32px;
}

.testomonial_wrapper-one {
    margin-top: 120px;
    /* border: 7px solid rgb(47, 83, 26); */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 156px; 
}
.testomonial_wrapper-two {
    margin-top: 120px;
    /* border: 7px solid rgb(47, 83, 26); */
    width: 50%;
    padding-top: 76px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
}


.testimonial_text {
    /* border: 7px solid rgb(253, 218, 144); */
    max-width: 514px;
}

.testimonial_text > h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    color: var(--text-color);
}

.testimonial_text>p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    margin-top: 8px;
    color: var(--text-color);
}

.testemonial_quote_card {
    /* border: 7px solid rgb(197, 183, 51); */
    background: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
}

.one_card {
    align-self: flex-end;
    max-width: 384px;
    /* height: 396px; */
}

.two_card {
    max-width: 488px;
    /* height: 312px; */
}

.three_card {
    max-width: 384px;
    /* height: 256px; */
    align-self: flex-start;
}

.testemonial_logo {}

.testemonial_quote {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 32px 0 0 32px;
    padding: 0;
}

.quote_title {
    margin: 24px 0 0 0;
    padding: 0;
}

.quote_subtitle {
    margin: 0;
    padding: 0;
}

/* |||   metrics   ||| */


.metrics { 
    display: flex;
    gap: 32px;
    margin: 90px 0 90px 0;
}

.metrics_wrapper-one {
    width: 50%;
    padding-right: 20px;
}

.metrics_wrapper-one > h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: var(--text-color);
    margin: 0;
}

.metrics_wrapper-one>p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--text-color);
    margin: 8px 0 90px 0;
}
.metrics_wrapper-two {
    width: 50%;
}

.metrics_card-top {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

.metrics_card-bottom {
    display: flex;
    gap: 32px;
}

.metrics_card {
    width: 280px;
    display: flex;
    align-items: center;
}

.metrics_card-img > img {
    padding: 0 10px 0 24px;
}

.metrics_card-text {
}

.metrics_card-text > p {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: var(--text-color);
    margin: 0;
}

.metrics_card-text > span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
}

/* ||||   logo_clouds   |||| */

.logo_clouds {
    display: flex;
    margin: 90px 0 90px 0;
}

.clouds_wrapper {
    width: 50%;
}

.clauds_vector {
    background-image: url(./img/svg/clauds_vector.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 540px;
    height: 270px;
    border: 3px solid salmon;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    padding: 40px 0 80px 0;
}

.clauds_vector > img {
    max-width: 64px;
    max-height: 64px;
}